.header {
    flex-grow:1;
    display:flex;
    align-items:center;
    color:#585858;
    text-transform:uppercase;
    cursor:default;
    h1 {
        font-size: 2rem;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:bold;
    }
}

.environment {
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: default;
    h1 {
        font-size: 2rem;
        font-weight:bold;
        font-family:Arial, Helvetica, sans-serif;
    }
    h2 {
        color:#989898;
        font-size:1.5rem;
        margin-top:-1rem;
        font-weight:bold;
        font-family:Arial, Helvetica, sans-serif;
    }
}

.item {
    cursor: pointer;
    flex-grow:1;
    display:flex;
    align-items:center;
    h1 {
        font-size: 2rem;
        font-weight:bold;
    }
}

.iop {
    font-size: 1.75rem;
    color: #b1b1b1;
}

.pending {
    color:#c1c1c1;
    text-transform: uppercase;
}

.inprogress { 
    color: #ffb300;
    text-transform: uppercase;
}

.done { 
    color: rgb(76, 175, 80);
    text-transform: uppercase;
}

.fixing {
    color: rgb(250, 128, 114);
    text-transform: uppercase;
}
