<div style="display:flex; width:100%;height:100%;font-family:Arial, Helvetica, sans-serif;flex-direction:column;">
	<div id="row1" class="column">
      <app-status class="header" element="header" value="Environment"></app-status>
      <app-status class="header" element="header" value="Scripts"></app-status>
      <app-status class="header" element="header" value="Config"></app-status>
      <app-status class="header" element="header" value="Deploy"></app-status>
      <app-status class="header" element="header" value="Validations"></app-status>
      <app-status class="header" element="header" value="Regressive"></app-status>
  </div>
  <div id="row2" class="column">
      <app-status class="environment" element="environment" value="INT" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row3" class="column">
      <app-status class="environment" element="environment" value="QA05"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status class="na" element="item"></app-status>
  </div>
  <div id="row4" class="column">
      <app-status class="environment" element="environment" value="PRE" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row6" class="column">
      <app-status class="environment" element="environment" value=""></app-status>
			<app-status class="bigger" value="VERIFICAR TABLAS SQL [INT vs PRE]"></app-status>
  </div>
  <div id="row6" class="column">
      <app-status class="environment" element="environment" value="PRO A" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row7" class="column">
      <app-status class="environment" element="environment" value="PRO B" [date]="releaseDate"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row8" class="column">
			<app-status class='last' element="item"></app-status>
			<app-status class='last' element="item"></app-status>
			<div class="item releseEnded last">
				<label class="label">
					<input  class="label__checkbox" type="checkbox" />
					<span class="label__text">
					  <span class="label__check">
						<i class="fa fa-check icon"></i>
					  </span>
					</span>
				  </label>
      </div>
      <app-status element="iop" value="IOP General 60654"></app-status>
			<div class="item last release" style="max-width:100%">
				<h1 id="releaseDate" class="center"></h1>
			</div>
	</div>
</div>


