<div style="display:flex; width:100%;height:100%;font-family:Arial, Helvetica, sans-serif;flex-direction:column;">
	<div id="row1" class="column">
      <app-status class="header" element="header" value="Environment"></app-status>
      <app-status class="header" element="header" value="Scripts"></app-status>
      <app-status class="header" element="header" value="Config"></app-status>
      <app-status class="header" element="header" value="Deploy"></app-status>
      <app-status class="header" element="header" value="Validations"></app-status>
      <app-status class="header" element="header" value="Regressive"></app-status>
  </div>
  <div id="row2" class="column">
      <app-status class="environment" element="environment" value="INT" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row3" class="column">
      <app-status class="environment" element="environment" value="QA05"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status class="na" element="item"></app-status>
  </div>
  <div id="row4" class="column">
      <app-status class="environment" element="environment" value="PRE" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row6" class="column">
      <app-status class="bigger special" element="item-right" value="VERIFICAR TABLAS SQL [INT vs PRE]"></app-status>
      <app-status element="item" [value]="initialStatus"></app-status>
      <app-status element="item"></app-status>
  </div>
  <div id="row6" class="column">
      <app-status class="environment" element="environment" value="PRO A" [date]="releaseDate"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row7" class="column">
      <app-status class="environment" element="environment" value="PRO B" [date]="releaseDate"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status class="na" element="item"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
			<app-status element="item" [value]="initialStatus"></app-status>
  </div>
  <div id="row8" class="column">
      <app-status class='last' element="item"></app-status>
      <app-status class='last' element="item"></app-status>
      <app-status class="last iop" element="iop" value="IOP General 60654">
          <label class="label">
              <input  class="label__checkbox" type="checkbox" />
              <span class="label__text">
                <span class="label__check">
                <i class="fa fa-check icon"></i>
                </span>
              </span>
          </label>
      </app-status>
      <app-status class="last bigger release" element="release" value="RELEASE" [date]="releaseDate">
        <h3 class="apps"> {{ app }} </h3>
      </app-status>
	</div>
</div>


